name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Installer Docker + Buildx
        uses: docker/setup-buildx-action@v2

      - name: Vérifier Docker et Compose
        run: |
          docker --version
          docker compose version

      - name: Lancer les conteneurs
        run: docker compose -f .docker/docker-compose.yml up --build -d
       
      - name: Vérifier le docker-compose.yml
         run: ls -l

